<h2>Now Editing: <%= @house.address %></h2>

<%= form_for @house do |f| %>
  <%= render 'shared/error_messages', object: @house %>
  <%= f.label :address%>
  <%= f.text_field :address, value: @house.address %>
  <%= f.submit "Update Address" %>
<% end %>
