  <center><%= image_tag("splash.jpg", alt: "Home Improvement") %></center>
  <br></br>
<main id="main">
  <ul>
    <% House.all.each do |house| %>
      <p><%= link_to house.address, house_path(house) %></p>
      <ul>
        <% house.projects.each do |project| %>
          <li><%= link_to project.name, project_path(project.id) %> <%= project.status %></li>
        <% end %>
        <button class="js-projects" data-id="<%= house.id %>">List Projects</button>
      </ul>
    <% end %>
  </ul>

  <p><%= link_to "Add A New Address", new_house_path %></p>
  <button id="save">Save Game</button>
  <script type="text/javascript" charset="utf-8">
$(function() {
  $(".js-projects").on("click", function() {
    var houseID = $(this).data("id");
    $.get("/houses/" + houseID + ".json", function(data) {
      var house = data;
      var inventoryText = "Available";
      var projects = house["products"];
      var listProjects = "";
      projects.forEach(function(project) {
        listProjects += '<li class="js-project" data-id="' + project["id"] + '">' + project["id"] + '</li>';
      });
      $("#house-" + id + "-projects").html(listProjects);
    });
  });
});
</script>
</main>
