  <center><%= image_tag("splash.jpg", alt: "Home Improvement") %></center>
  <br></br>
<main id="main">
  <ul>
    <% House.all.each do |house| %>
      <p><%= link_to house.address, house_path(house) %></p>
      <ul>
        <% house.projects.each do |project| %>
          <div id="house-<%= house.id %>"></div>
        <% end %>
        <button class="js-projects" data-id="<%= house.id %>">List Projects</button>
      </ul>
    <% end %>
  </ul>

  <p><%= link_to "Add A New Address", new_house_path %></p>
  <button id="save">Save Game</button>
  <script type="text/javascript" charset="utf-8">
    $(function() {
      $(".js-projects").on("click", function() {
        var houseID = $(this).data("id");
        $.get("/houses/" + houseID + ".json", function(data) {
          var projects = data;
          var listProjects = "";

          projects.forEach(function(project) {
            var projectLink = '<a href="/projects/' + project["id"]+ '">' + project["name"] + '</a>';
            listProjects += '<li class="js-projects" data-id="' + project["id"] + '">' + projectLink + project["status"] + '</li>';
          });

          if (listProjects == "") {listProjects += '<li class="js-projects" data-id="1">Blah</li>'};
          console.log(listProjects);
          $('#house-' + houseID ).html(listProjects);
        });
      });
    });
  </script>
</main>
