<h2> <%= @house.address %></h2>


<% if @house.projects.empty? %>

  <p><%= link_to "Remove Address", house_path(@house), method: :delete %></p>

<% else %>

  <h3>Current Projects</h3>
  <ul>
    <% @house.projects.each do |project| %>
      <li><%= link_to project.name, project_path(project) %> <%= project.status %></li>
      <div id="project-<%= project.id %>"></div>
      <button class="js-materials" data-id="<%= project.id %>"> List Materials</button>
    <% end %>
  </ul>

<% end %>

<p><%= link_to "Edit Address", edit_house_path %> | <%= link_to "New Project", new_house_project_path(@house)%></p>

<script type="text/javascript" charset="utf-8">
  $(function() {
    $(".js-materials").on("click", function() {
      var projectID = $(this).data("id");
      $.get("/projects/" + projectID + ".json", function(data) {
        var materials = data;
        var listMaterials = "";

        materials.forEach(function(material) {
          var materialLink = '<a href="/materials/' + material["id"] + '">' + material["name"] + '</a>';
          listMaterials += '<li class="js-materials" data-id="' + material["id"] + '">' + materialLink + material["status"] + '</li>';
        });

        $('#project-' + projectID ).html(listMaterials);
      });
    });
  });
</script>
