
 <%= render 'shared/error_messages', object: f.object %>
  <p>
    <%= f.fields_for :items, @project.items do |items_list| %>
      <%= find_material_name(items_list) %>
      <%= items_list.hidden_field :material_id %>
      : quantity:<%= items_list.number_field :quantity, min: 0, placeholder: item_quantity(items_list.object.id)%>
      <br></br>
    <% end %>

  </p>

  <p>
    <%= f.fields_for :materials, @project.materials.build do |mat| %>
      New Material: <%= mat.text_field :name %>
      Quantity On Hand: <%= mat.number_field :quantity_on_hand, min: 0, placeholder: mat.object.quantity_on_hand%>

      <%= f.fields_for :items, @project.items.build do |items_builder| %>
      Quantity Needed: <%= items_builder.number_field :quantity %>
                       <%= items_builder.hidden_field :material_id, value: Material.all.last.id + 1 %>
      <% end %>

    <% end %>
  </p>

  <%= f.hidden_field :house_id, :value => @project.house.id %><br><br>
  <%= f.submit %>

  <br></br>
