<h2>Now Editing: <%= @project.name %></h2>

<%= form_for @project do |f| %>
  <%= render 'shared/error_messages', object: @project %>
  <%= f.label :name%>
  <%= f.text_field :name, value: @project.name %>
  <%= f.submit "Update Project" %>
<% end %>
