<h2>Add A New Project</h2>

<%= form_for @project do |f| %>
  <p>
    <%= f.label "Name" %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.fields_for :items, @project.items do |items_builder| %>
      <%= find_material_name(items_builder) %>
      <%= items_builder.hidden_field :material_id %>
      : quantity:<%= items_builder.number_field :quantity %>
      <br></br>
    <% end %>
  </p>

  <%= f.hidden_field :house_id, :value => @project.house.id %>
  <%= f.submit %>
<% end %>
