<h2>Add A New Project</h2>

<%= form_for @project do |f|%>
  Name: <%= f.text_field :name %>
  <%= render  partial: 'project', :locals=>{:f => f} %>
<% end %>

<body>
    <button class="js-materials" data-id="<%= Material.last.id + 1%>"> + Material</button>
    <div id="material-<%= Material.last.id + 1 %>">place form here</div>"
</body>
<script type="text/javascript" charset="utf-8">
  $(function() {
    $(".js-materials").on("click", function() {
        var materialID = $(this).data("id");
        var materialForm = $('<form></form"');
        //var name = $('<form> <input name="name" type="hidden"></form>');
        materialForm.append('<input type="text" value="name"></input>');
        debugger;
        $('#material-' + materialID).append(materialForm);
        // $('#project-' + projectID ).html(listMaterials);
      });
    });
</script>
