<h2>Add A New Project</h2>

<%= form_for @project do |f| %>
  <br>Name: <%= f.text_field :name %></br>
    Materials: <%= f.collection_check_boxes(:material_ids, Material.all, :id, :name) do |material| %>
      <p>
        <%= material.label :class => "checkstyle"%>
        <%= material.check_box %>
        <%= f.fields_for @project.items.build do |item| %>
        Quantity: <% binding.pry%>
          <%= item.text_field :quantity %>
          <%= item.hidden_field :material_id, value: material.object.id %>
        <% end %>
    <% end %>
  <%= f.submit "Add Project"%>
  <br></br>

<% end %>
<%= form_tag(@project) do %>
  <br>Name: <%= text_field_tag :name %></br>
  <%= collection_check_boxes(:material, :materials_ids, @materials, :id, :name) do |m| %>
    <%= m.object.name %><%= m.label{m.check_box}%>
    Quantity:<input type="text" name="items[]" %>
    <br></br>
  <% end %>
  <%= submit_tag "Add Project"%>
  <br></br>


  <h2>Add A New Project</h2>

  <%= form_for @project do |f| %>
    <p>
      <%= f.label "Name" %>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.fields_for :items, @project.items do |items_builder| %>
            Material:<%= items_builder.text_field :material %>
            Quantity:<%= items_builder.number_field :quantity %>
            <br></br>
      <% end %>
    </p>

        <%= f.fields_for :items, @project.items.build do |new_item| %>
              Material:<%= new_item.text_field :material %>
              Quantity:<%= new_item.number_field :quantity %>
              <br></br>
        <% end %>

      <%= f.collection_check_boxes(:item_ids, Material.all, :id, :item_ids) do |material|%>
      <% binding.pry %>
        <%= material.object.name %>
        <%= f.fields_for :items, @project.items do |items_builder| %>
              Quantity:<%= items_builder.number_field :quantity %>
              <br></br>
        <% end %>
        <%= material.label :class => "checkstyle"%>
        <%= material.check_box %>
        <br></br>
      <% end %>

    <%= f.hidden_field :house_id, :value => @project.house.id %>
    <%= f.submit %>
  <% end %>
