<h2> <%= @project.house.address%></h2>
<h3> <%= @project.name %></h3>

 <%= render 'shared/error_messages', object: @project %>

<ul>
  <% @project.items.each do |item| %>
    <li><%= material_lookup(item) %></li>
  <% end %>
</ul>

<p>
   <%= link_to "Back To Address", house_path(@project.house) %> |
   <%= link_to "Edit Project Name", edit_project_path %> |
   <%= link_to "Update Items List", project_items_path(@project) %> |
   <%= link_to "Remove Project",  project_path(@project), method: :delete %>
</p>
