<h2> Items List for: <%= @project.name %>, <%= @project.house.address %></h2>

<p>
  <%= form_for @project do |f| %>
    <p>
      <%= f.label "Name" %>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.fields_for :items, @project.items do |items_list| %>
        <%= find_material_name(items_list) %>
        <%= items_list.hidden_field :material_id %>
        : quantity:<%= items_list.number_field :quantity, min: 0 %>
        <br></br>
      <% end %>

    </p>

    <p><%= f.fields_for @project.items do |items| %>
      <% end %>
    <%= f.hidden_field :house_id, :value => @project.house.id %>
    <%= f.submit %>
  <% end %>

    <p><%= link_to "Remove Project?" , project_path(@project), method: :delete %></p>

  </p>
