<h2> Items List for: <%= @project.name %></h2>

<p>
    <%= form_for @project.materials do |f| %>
      <%= f.fields_for :items, Material.all.each do |material|%>
      <%binding.pry%>
        <%= material.name %>
        <br></br>
      <% end %>

      <%= f.collection_check_boxes(:name, Material.all, :id, :name) do |material|%>
      <% binding.pry %>
        <% if @project.materials.exists?(material.object.id) %>
          <% else %>
        <%= material.label :class => "checkstyle"%>
        <%= material.check_box %>
        <% end %>
        <br></br>
      <% end %>

    <%= f.submit "Update List"%>

    <% end %>
  </p>
