<h2>Current Materials On Hand</h2>
<% if !!current_user %>
  <ul>
    <% Material.all.each do |material| %>
      <p><%= link_to material.name, material_path(material)%> quantity on hand: <%= material.quantity_on_hand %></p>
    <% end %>
  </ul>
  <p><%= link_to "Add A New Material", new_material_path %></p>
<% else %>
 <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
 <%= link_to "Sign in", user_session_path %>
<% end %>
