<h3>Materials on hand</h3>

<ul>
  <% Material.all.each do |material| %>
    <p><%= link_to material.name, material_path(material)%> quantity on hand: <%= material.quantity_on_hand %></p>
  <% end %>
</ul>

<p><%= link_to "Add A New Material", new_material_path %></p>
<button class="js-materials" data-id="<%= Material.last.id + 1%>"> + Material</button>
<div id="material-<%= Material.last.id + 1 %>"></div>
<button class="testbutton" data-url="/materials/new">Submit</button>


<script type="text/javascript" charset="utf-8">
$(function() {
  $(".js-materials").on("click", function() {
      event.preventDefault();
      var materialID = $(this).data("id");
      var materialForm = $('<form></form"');
      materialForm.append('New Material: <input type="text" name="project[materials][name]" id="project_materials_name"> ');
      materialForm.append('Quantity On Hand: <input type="number" value="0" name="project[materials][quantity_on_hand]" id="project_materials_quantity_on_hand">');
      debugger;
      $('#material-' + materialID).append(materialForm);
    });
  });
  $(function() {
  $(".testbutton").click(function(event){
    debugger;
    var $button = $(this);
    var url = $(this).data("url");

    $.get(url, function(response){
      // $(".result").html(response);
      $button.before(response);
      console.log(response);
      debugger;
    });
  });
});
</script>
