<h3>Materials on hand</h3>

<ul>
  <% Material.all.each do |material| %>
    <p><%= link_to material.name, material_path(material)%> quantity on hand: <%= material.quantity_on_hand %></p>
  <% end %>
</ul>

<div id="materialLink">
</div>

<!-- <div class="blah" id="<%=  Material.last.id+1 %>"> -->
<%= render 'form' %>
<!-- </div> -->
<!-- <p><%= link_to "Add A New Material", new_material_path %></p> -->
<!-- <button class="js-materials" data-id="<%= Material.last.id + 1%>"> + Material</button>
<div id="material-<%= Material.last.id + 1 %>"></div>
<button class="testbutton" data-url="/materials/new" data-id="<%= Material.last.id + 1%>">Submit</button> -->
<button  id="test">test</button>
<script type="text/javascript" charset="utf-8">

$(function () {
  $("#test").on('click', function() {
    debugger;
    var id = $(this).data("id");
    $.getJSON("/materials/" + 1 + "/blah", function(data) {
      // Replace text of body-id div
      debugger;
      $("#body-" + id).html(data["description"]);
    });
  });
  // $(".js-materials").on("click", function() {
  //   event.preventDefault();
  //   var materialID = $(this).data("id");
  //   var materialForm = $('<form class="new_material" id=new_material </form>');
  //   materialForm.append('<input type="text" name="material[name]" id="material_name" />')
  //   materialForm.append('<input type="submit" name="commit" value="Create Material"/>')
  //   $('#material-' + materialID).append(materialForm);
  // });

  $('.new_material').submit(function(event) {
    //prevent form from submitting the default way
    event.preventDefault();
    var values = $(this).serialize();
    var material = $.post('/materials', values);
    material.done(function(data) {
      var material = data;
      debugger;
      var materialLink = '<ul><p><a href="/materials/' + material["id"] + '">' + material["name"] + '</a></p></ul>';

      // $("#materialName").text(material["name"]);
      // $("#materialQuantity").text(material["quantity_on_hand"]);
      //     $('#project-' + projectID ).html(listMaterials);
      $("#materialLink").html(materialLink);
      console.log("done");
      // $("#materialQuantity").text(material["quantity_on_hand"]);
    });
  });
});
</script>
