<h2><%= @material.name %></h2>
<h3> Current Inventory: <%= @material.quantity_on_hand%></h3>

<p><%= link_to "Edit Material", edit_material_path %></p>
<p><%= material_being_used? %></p>

<ul>
  <% Project.all.each do |project| %>
    <% if project.materials.exists?(@material.id) %>
        <li>Needed for: <%= link_to project.name, project_path(project) %></li>
    <% end %>
  <% end %>
</ul>
